.head {
    min-height: 40vh;
    width: 100%;
    position: absolute;
    background-image: url(../../images/background-card-reports.png);
    background-size: cover;
    top: 0px;
}
.header {
    display: flex;
    position: absolute;
    box-shadow: var(--chakra-shadows-none);
    background: none;
    border-color: var(--chakra-colors-transparent);
    filter: none;
    backdrop-filter: none;
    border-width: 1.5px;
    border-style: solid;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.25s, 0.25s, 0.25s, 0s;
    transition-timing-function: linear, linear, linear, linear;
    border-radius: 16px;
    min-height: 75px;
    line-height: 25.6px;
    margin-inline: auto;
    margin-top: 0px;
    padding-bottom: 8px;
    right: 30px;
    padding-top: 8px;
    top: 18px;
}

.header-wrapper {
    display: flex;
    width: 100%;
}

//  ----------------------- NAVIGATION ----------------------
// .wrapp__navigation {
// }
.navigation-link {
    cursor: pointer;
    text-decoration: none;
    outline: rgb(0 0 0 / 0%) solid 2px;
    outline-offset: 2px;
    color: white;
    transition-property: background-color, border-color, color, fill, stroke, opacity,
        box-shadow, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    float: left;
    max-width: 100%;
    position: relative;
    max-height: 100%;
    width: 100%;
    overflow: auto;
    transition: top 0.2s linear 0s, bottom 0.2s linear, width 0.35s ease;
}
.outnav-link {
    cursor: pointer;
    text-decoration: none;
    outline: rgb(0 0 0 / 0%) solid 2px;
    outline-offset: 2px;
    color: white;
    background: inherit;
    border-radius: inherit;
    font-weight: bold;
    transition-property: background-color, border-color, color, fill, stroke, opacity,
        box-shadow, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

//  -------------------- SEARCH FORM -------------------------
.wrapp__right-side {
    // display: flex;
    margin-inline-start: auto;
}

.menu-wrapper {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.search_form--container {
    width: 200px;
    display: flex;
    position: relative;
    border-radius: 8px;
    margin-inline-end: 18px;
}
.search_form--wrapp {
    left: 0px;
    width: var(--chakra-sizes-10);
    height: var(--chakra-sizes-10);
    font-size: var(--chakra-fontSizes-md);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    z-index: 2;
}
.search_form--button {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: rgb(0 0 0 / 0%) solid 2px;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    border-radius: inherit;
    font-weight: var(--chakra-fontWeights-bold);
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    font-size: var(--chakra-fontSizes-md);
    height: var(--chakra-sizes-10);
    min-width: var(--chakra-sizes-10);
    padding-inline-start: var(--chakra-space-4);
    padding-inline-end: var(--chakra-space-4);
    background: inherit;
    padding: 0px;
}
.search_form--icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: var(--chakra-colors-gray-700);
    vertical-align: middle;
}
.search_form--input {
    width: 100%;
    min-width: 0px;
    outline: rgb(0 0 0 / 0%) solid 2px;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    font-weight: 400;
    font-size: var(--chakra-fontSizes-xs);
    padding-inline-start: var(--chakra-space-10);
    padding-inline-end: var(--chakra-space-4);
    height: var(--chakra-sizes-10);
    border-radius: inherit;
    border: var(--chakra-borders-none);
    padding-top: 11px;
    padding-bottom: 11px;
    background: var(--chakra-colors-white);
}

.sing_link {
    display: block;
}
.sing_link--button {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: rgb(0 0 0 / 0%) solid 2px;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    border-radius: 8px;
    font-weight: var(--chakra-fontWeights-bold);
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    font-size: var(--chakra-fontSizes-md);
    height: var(--chakra-sizes-10);
    min-width: var(--chakra-sizes-10);
    padding-inline: 0px;
    margin-inline-start: 0px;
    color: var(--chakra-colors-white);
}
.sing_link--wrapp {
    display: inline-flex;
    align-self: center;
    flex-shrink: 0;
    margin-inline-end: 0.5rem;
}
.sing_link--icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: var(--chakra-colors-white);
    vertical-align: middle;
    margin-inline-end: 0px;
}
// .sing_link--text {
// }

// TIME LEFT OF DAY
// .wrapp-timeleft {
// }
// .wrapp-timeleft__title {
// }
// .wrapp-timeleft__timer {
// }
// .wrapp-timeleft__hours {
// }
// .wrapp-timeleft__minutes {
// }
// .wrapp-timeleft__seconds {
// }
