.head {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 160px;

    // background-color: var(--background);
    // background: var(--gradient) url(../../images/head-bg/black-wall-new.jpeg);
    // background-image: url(../../images/head-bg/black-wall-new.jpeg);
    // background-size: cover;
    // background-clip: content-box;
    // background-position:bottom;
    // background-repeat: no-repeat;
    // opacity: 0.8;
}
.header {
    display: flex;
    position: absolute;
    right: 10px;
    top: 20px;
    // height: 34vh;
    max-height: 160px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: var(--chakra-shadows-none);
    background: none;
    border-color: var(--chakra-colors-transparent);
    filter: none;
    backdrop-filter: none;
    border-width: 1.5px;
    border-style: solid;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.25s, 0.25s, 0.25s, 0s;
    transition-timing-function: linear, linear, linear, linear;
    border-radius: 16px;
    line-height: 25.6px;
    z-index: 4;
}
.header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

//  ----------------------- LEFT_SIDE NAVIGATION ----------------------
// .left-side {
// }
.navigation-link {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    outline: rgb(0 0 0 / 0%) solid 2px;
    outline-offset: 2px;
    color: var(--text);
    float: left;
    font-weight: bold;
    overflow: auto;
    transition: var(--property-dimensions, --property-common) 250ms var(--easing-out);
}
.outnav-link {
    background: inherit;
    border-radius: inherit;
    
    transition: var(--property-common) 250ms var(--easing-out)
}
.navigation-link, 
.outnav-link {
    color: var(--text);
    cursor: pointer;
    text-decoration: none;
    outline: rgb(0 0 0 / 0%) solid 2px;
    outline-offset: 2px;
    font-weight: bold;
}

//====================== DATE / TIME ===========================
.date-time__wrapp {
    position: relative;
    display: flex;
    // flex-direction: column-reverse;
    margin-left: auto;
    // border-radius: 8px;
    // border-bottom-left-radius: 20px;
    height: auto;
}
.time-container {
    min-height: 80px;
    display: flex;
    text-align: center;
    background: linear-gradient(to bottom right,
            rgba(2, 99, 225, 1),
            rgba(235, 24, 54, 1));
    border-radius: 22px;
}
.date-container {
    display: flex;
    text-align: center;
    background: linear-gradient(to bottom right, #0263e1, #eb1836);
    border-radius: 22px;
    width: 100%;
}
.year {
    // width: 100%;
    position: absolute;
    top: 35%;
    bottom: 0%;
    left: 0%;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    color: #f8ab37;
    transform: translateX(0%);
    transition: opacity 250ms var(--easing-out),
        visibility 250ms var(--easing-out),
        transform 250ms var(--easing-out);
}
.date-calendar__list {
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    // padding: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    padding-left: 15px  ;
    color: #f8ab37;
    // background-color: white;
    visibility: hidden;
    transform: translateX(0%);
    transition: opacity 250ms var(--easing-out),
        visibility 250ms var(--easing-out),
        transform 250ms var(--easing-out);
}
.outer {
    &:hover .date-calendar__list {
        opacity: 1;
        visibility: visible;
        transform: translateX(90%);
        font-weight: bold;
    }
    &:hover .year {
        opacity: 1;
        visibility: visible;
        transform: translateX(-90%);
    }
}
// .date-item {
// }
.month,
.day {
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.date {
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.time__list {
    display: flex;
    width: 100%;
}
.time-item {
    display: flex;
    align-items: center;
}
.hours,
.minutes,
.seconds {
    width: 100%;
    color: #f8ab37;
    background-color: black;
}

.hours {
    margin: 5px 0 5px 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.minutes {
    margin-top: 5px;
    margin-bottom: 5px;
}

.seconds {
    margin: 5px 5px 5px 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.timer-text {
    align-items: center;
    border-radius: 20px;
    display: flex;
    margin: 4px;
    padding: 0px 5px;
}

// .timer-hours {
// }
// .timer-minutes {
// }
// .timer-seconds {
// }

//  ----------------------------------- RIGHT_SIDE  ------------------------------------------
.right-side {
    // display: flex;
    margin-left: auto;
}
.menu-wrapper {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
// .search-form_container {
//     min-width: 200px;
//     display: flex;
//     position: relative;
//     border-radius: 8px;
//     margin-inline-end: 20px;
// }
// .search-button-wrap {
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     display: flex;
//     width: var(--chakra-sizes-10);
//     height: var(--chakra-sizes-10);
//     font-size: var(--chakra-fontSizes-md);
//     -webkit-box-align: center;
//     align-items: center;
//     -webkit-box-pack: center;
//     justify-content: center;
//     z-index: 2;
// }
// .search-form_button {
//     display: inline-flex;
//     appearance: none;
//     -webkit-box-align: center;
//     align-items: center;
//     -webkit-box-pack: center;
//     justify-content: center;
//     user-select: none;
//     position: relative;
//     white-space: nowrap;
//     vertical-align: middle;
//     outline: rgb(0 0 0 / 0%) solid 2px;
//     outline-offset: 2px;
//     width: auto;
//     line-height: 1.2;
//     border-radius: inherit;
//     font-weight: var(--chakra-fontWeights-bold);
//     transition-property: var(--chakra-transition-property-common);
//     transition-duration: var(--chakra-transition-duration-normal);
//     font-size: var(--chakra-fontSizes-md);
//     height: var(--chakra-sizes-10);
//     min-width: var(--chakra-sizes-10);
//     padding-inline-start: var(--chakra-space-4);
//     padding-inline-end: var(--chakra-space-4);
//     background: inherit;
//     padding: 0px;
// }
// .search-form_input {
//     width: 100%;
//     min-width: 0px;
//     outline: rgb(0 0 0 / 0%) solid 2px;
//     outline-offset: 2px;
//     position: relative;
//     appearance: none;
//     transition-property: var(--chakra-transition-property-common);
//     transition-duration: var(--chakra-transition-duration-normal);
//     font-weight: 400;
//     font-size: var(--chakra-fontSizes-xs);
//     padding-inline-start: var(--chakra-space-10);
//     padding-inline-end: var(--chakra-space-4);
//     height: var(--chakra-sizes-10);
//     border-radius: inherit;
//     border: var(--chakra-borders-none);
//     padding-top: 11px;
//     padding-bottom: 11px;
//     background: var(--chakra-colors-white);
// }
.autorization-list {
    display: flex;
    // margin-right: 15px;
}
.autorization-item {
    &:not(:first-child) {
        margin-left: 15px;
    }
    
}
.autorization-button {
    display: inline-flex;
    padding: 10px;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: rgb(0 0 0 / 0%) solid 2px;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    border-radius: 8px;
    font-weight: var(--chakra-fontWeights-bold);
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    font-size: var(--chakra-fontSizes-md);
    height: var(--chakra-sizes-10);
    min-width: var(--chakra-sizes-10);
    padding-inline: 0px;
    margin-inline-start: 0px;
    color: var(--chakra-colors-white);
}
.header-icon-wrapper {
    display: inline-flex;
    align-self: center;
    flex-shrink: 0;
    
}
.header-icon,
.search-form__icon {
    display: inline-block;
    // line-height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
    vertical-align: middle;
    margin-inline-end: 0px;
}


// ========================== THEME TOGGLE ============================
.swotch-container {
    display: block;
    margin-left: 10px;
    border-left: 2px solid #c1c1c1;
    padding-left: 10px;
}
.theme-toggle {
    // font-family: 'Oswald';
    color: var(--blue);
    background-color: var(--background);
    border: 2px solid transparent;
    padding: 8px 10px;
    border-radius: 15px;
    transition: all 0.3s ease;
    max-width: 150px;
    margin-left: auto;

    &:hover {
        background-color: #c1c1c1;
        border: 2px solid #c1c1c1;
    }
}

.switch {
    display: flex;
    align-items: center;
    cursor: pointer;

    .switch-toggle {
        position: relative;
        width: 70px;
        height: 40px;
        // margin-left: 20px;
        border-radius: 20px;
        background-color: #b0bec5;
        transition: all 300ms var(--easing-out);
    
        &::before {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 5px;
            top: 5px;
            content: "";
            border-radius: 50%;
            background-color: rgba(255,255, 255,0.5);
            transition: all 300ms var(--easing-out);
        }
    }

    input[type="checkbox"] {
        display: none;

        &:checked+.switch-toggle {
            background-color: #1976d2;

            &::before {
                left: 100%;
                transform: translateX(calc(-100% - 5px));
                background-color: var(text);
            }
        }
    }
}

