.main-wrapper {
    float: right;
    max-width: 100%;
    position: relative;
    // max-height: 100%;
    width: 100%;
    overflow: auto;
    transition: var(--property-dimensions, --property-position) 250ms var(--easing-out);
}
// .main-container {
//     filter: blur(var(--blur));
// }
.main-content {
    display: flex;
    flex-direction: column;
    padding: 160px 30px 30px 40px;
    // clip-path: inset(10em);
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, var(--shadow-opacity)));
}

// .glass {
//   height: 100%;
//   width: 100%;
   
// //   background-size: cover;
// //   background-position: center;
//   clip-path: inset(10em);
//   filter: blur(var(--blur));
// //   display: flex;
// //   justify-content: center;
// //   align-items: center;
// }

// .shadow {
//   height: 100%;
//   width: 100%;
//     filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, var(--shadow-opacity)));
//   display: flex;
//   justify-content: center;
//   align-items: center;

//    &::before {
//     display: block;
//     content: "";
//     position: absolute;
//     top: 10em;
//      height: calc(100% - 20em);
//     width: calc(100% - 20em);
//      border-top: 2px solid rgba(225,225,225, 0.2);
//     border-left: 1px solid rgba(225,225,225, 0.1);
//      border-right: 1px solid rgba(225,225,225, 0.3);
//      z-index: 2;
//    //  filter: blur(1px);
//   }
    
  
//    > div.content-glass {
//     position: absolute;
//     z-index: 5;
//     color: white;
//     font-size: 4em;
//     letter-spacing: 0.75em;
//     padding-left: 0.375em;
//   }
// }

// @media (max-width: 980px) {
//   .glass {
//      clip-path: inset(5em);
//   }
//   .shadow {
//     &:before {
//       top: 5em;
//       width: calc(100% - 10em);
//     }
//     > div.content-glass {
//       font-size: 4em;
//     }
//   }
// }
// @media (max-width: 640px) {
//   .shadow {
//     > div.content-glass {
//       font-size: 2em;
//     }
//   }
// }

.main-content__area {
  padding: 40px 60px 50px 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
    
  position: relative;
  overflow-wrap: break-word;
  background: rgba(251, 90, 4, 0.09);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  // bsorder: 1px solid rgba(251,92,4,0.08);
  border-radius: 36px;
  box-shadow: rgb(0 0 0 / 5%) 0px 5px 14px;
}

.main-content__wrapp {
  padding: 30px 0px 0px 10px;
}

.content__icon-wrapp {
  display: inline;
 
  & .icon-filter {
    inline-size: 60px;
    // block-size: 30px;
  }
}
.main-content__title {
  display: inline;
  align-self: start;
    // padding: 30px 0px 0px 10px;
}
// ---------------------------- SEARCH INPUT -----------------------------------
.search-field__wrapper {
    position: relative;
    min-height: 80px;
    padding-bottom: 50px;
}
.search-form {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 10px;
    bottom: 0;
}
.search-form .input-field {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 65px;
    background: var(--background-inverse);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    transition: all 1s var(--easing-out);
}
.search-form .input-field:hover {
    cursor: pointer;
}
.search-form .input-field::before {
    content: '';
    position: absolute;
    margin: auto;
    top: 10px;
    right: 8px;
    bottom: -5px;
    left: 22px;
    width: 12px;
    height: 2px;
    background: var(--text);
    transform: rotate(45deg);
    transition: all 1s var(--easing-out);
}
.search-form .input-field::after {
    content: '';
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--text);
    //  transition: all 1s; 
     transition: all 1s var(--easing-out);
}
.search-form .search-input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 65px;
    outline: none;
    border: none;
    background: var(--background);
    color: var(--text);
    /* text-shadow: 0 0 10px crimson; */
    padding: 0 80px 0 20px;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    opacity: 0;
    z-index: 2;
    font-weight: bolder;
    letter-spacing: 0.1em;

    transition: var(--property-common) 1s var(--easing-out);
}

.search-form {
    & .search-input:hover {
        cursor: pointer;
    }
    & .search-input:focus {
        min-width: 318px;
        opacity: 1;
        cursor: text;
    }
    & .search-input:focus ~ .input-field {
        right: -250px;
        box-shadow: none;
        background: transparent;
        z-index: 3;
    }
    & .search-input:focus ~ .input-field::before {
        top: 28px;
        left: 15px;
        right: 15px;
        width: 25px;
        height: 2px;
        bottom: 25px;
    }
    & .search-input:focus ~ .input-field::after {
           top: 28px;
           left: -15px;
           width: 25px;
           right: -15px;
           height: 2px;
           border: none;
           bottom: 25px;
        /* margin: -25px 0px 0px 20px; */
        background: var(--text);
        border-radius: 0%;
        transform: rotate(-45deg);
    }
    & .search-input::placeholder {
        color: var(--text);
        opacity: 0.7;
        font-weight: bolder;
    }
}
// .search-input+.input-validate {
//     position: absolute;
//     display: inline-block;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 50px;
//     height: 50px;
// }
// .search-input:invalid+.input-validate::after {
//     content: '✖';
//     display: inline-block;
//     width: 50px;
//     height: 50px;
//     padding-left: 5px;
// }

// .search-input:valid+.input-validate::after {
//     content: '✓';
//     display: inline-block;
//     width: 50px;
//     height: 50px;
//     padding-left: 5px;
// }

// ------------------------------ FILTER INPUTs -------------------------------
.filter-input__wrapper {
    padding: 50px 0px 50px 0px;
}
.filter-input__list {
    display: flex;
    justify-content: space-evenly;
}
// .filter-input__item {
// }
// .filter_input {
// }
.filter_input__placeholder {
    &::after {
        content: '';
        display: block;
        // width: 20px;
        height: 40px;
        margin-left: 5px;
        border: 2px solid;
        border-radius: 5px;
    }
}
.checkbox-white:checked + label:before,
.checkbox-white:not(:checked) + label:before {
  border: 1px solid white;
}
.checkbox-white:checked + label:after,
.checkbox-white:not(:checked) + label:after {
  background-color: white;
}
.checkbox-green:checked + label:before,
.checkbox-green:not(:checked) + label:before {
  border: 1px solid green;
}
.checkbox-green:checked + label:after,
.checkbox-green:not(:checked) + label:after {
  background-color: green;
}

.checkbox-orange:checked + label:before,
.checkbox-orange:not(:checked) + label:before {
  border: 1px solid orange;
}
.checkbox-orange:checked + label:after,
.checkbox-orange:not(:checked) + label:after {
  background-color: orange;
}

.checkbox-red:checked + label:before,
.checkbox-red:not(:checked) + label:before {
  border: 1px solid red;
}
.checkbox-red:checked + label:after,
.checkbox-red:not(:checked) + label:after {
  background-color: red;
}
// input[type="checkbox"] {
//     position: relative;
//     width: 1em;
//     height: 1em;
//     border: 1px solid gray;
//     /* Adjusts the position of the checkboxes on the text baseline */
//     vertical-align: -2px;
//     /* Set here so that Windows' High-Contrast Mode can override */
//     color: green;
// }

// input[type="checkbox"]::before {
//     content: "✔";
//     position: absolute;
//     font-size: 1.2em;
//     right: -1px;
//     top: -0.3em;
//     visibility: hidden;
//     transition: var(--property-common) 250ms var(--easing-out);
// }

// input[type="checkbox"]:checked::before {
//     /* Use `visibility` instead of `display` to avoid recalculating layout */
//     visibility: visible;
// }

// input[type="checkbox"]:disabled {
//     border-color: black;
//     background: #ddd;
//     color: gray;
// }
////////////////////////////////////////////////////////////////////////////////////////////
.checkbox-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
  position: relative;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  line-height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  // color: var(--text);
  // margin-top: 10px;
  // margin-right: 10px;
  // margin-left: 10px;
  z-index: 1;
  -webkit-transition: all 250ms var(--easing-out);
  transition: all 250ms var(--easing-out);
}
[type='checkbox']:checked:hover + label:before,
[type='checkbox']:not(:checked):hover + label:before,
[type='checkbox']:checked:hover + label:after,
[type='checkbox']:not(:checked):hover + label:after {
  opacity: 0.7;
}
[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -4px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: transparent;
  z-index: -1;
  -webkit-transition: all 250ms var(--easing-out);
  transition: all 250ms var(--easing-out);
}

[type='checkbox']:checked + label:after,
[type='checkbox']:not(:checked) + label:after {
  content: '';
  width: calc(100% - 9px);
  border-radius: 4px;
  height: 30px;
//   background-color: #e74c3c;
  position: absolute;
  top: 1px;
  left: 4px;
  z-index: -1;
  -webkit-transition: all 250ms var(--easing-out);
  transition: all 250ms var(--easing-out);
}
[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='checkbox']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* #Colors
================================================== */

.checkbox-alizarin:checked + label:before,
.checkbox-alizarin:not(:checked) + label:before {
  border: 2px solid #e74c3c;
}
.checkbox-alizarin:checked + label:after,
.checkbox-alizarin:not(:checked) + label:after {
  background-color: #e74c3c;
}

.checkbox-wisteria:checked + label:before,
.checkbox-wisteria:not(:checked) + label:before {
  border: 2px solid #8e44ad;
}
.checkbox-wisteria:checked + label:after,
.checkbox-wisteria:not(:checked) + label:after {
  background-color: #8e44ad;
}

.checkbox-emerland:checked + label:before,
.checkbox-emerland:not(:checked) + label:before {
  border: 2px solid #2ecc71;
}
.checkbox-emerland:checked + label:after,
.checkbox-emerland:not(:checked) + label:after {
  background-color: #2ecc71;
}

.checkbox-belizehole:checked + label:before,
.checkbox-belizehole:not(:checked) + label:before {
  border: 2px solid #2980b9;
}
.checkbox-belizehole:checked + label:after,
.checkbox-belizehole:not(:checked) + label:after {
  background-color: #2980b9;
}

.box {
  border-radius: 10px;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.box.alizarin {
//   background-color: #e74c3c;
  background-color: white;
}
.box.wisteria {
//   background-color: #8e44ad;
background-color: green;
}
.box.emerland {
//   background-color: #2ecc71;
background-color: orange;
}
.box.belizehole {
//   background-color: #2980b9;
background-color: red;
}

.box.alizarin,
.box.wisteria,
.box.emerland,
.box.belizehole {
  opacity: 0;
  min-height: 0;
  max-width: 0;
  min-width: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.checkbox-alizarin:checked ~ .box.alizarin,
.checkbox-wisteria:checked ~ .box.wisteria,
.checkbox-emerland:checked ~ .box.emerland,
.checkbox-belizehole:checked ~ .box.belizehole {
  opacity: 1;
  min-height: 140px;
  max-width: 100%;
  min-width: calc(25% - 20px);
  padding: 0 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1199px) {
  .checkbox-alizarin:checked ~ .box.alizarin,
  .checkbox-wisteria:checked ~ .box.wisteria,
  .checkbox-emerland:checked ~ .box.emerland,
  .checkbox-belizehole:checked ~ .box.belizehole {
    min-width: calc(33.333333333333% - 20px);
  }
}
@media (max-width: 991px) {
  .checkbox-alizarin:checked ~ .box.alizarin,
  .checkbox-wisteria:checked ~ .box.wisteria,
  .checkbox-emerland:checked ~ .box.emerland,
  .checkbox-belizehole:checked ~ .box.belizehole {
    min-width: calc(50% - 20px);
  }
}
@media (max-width: 575px) {
  .checkbox-alizarin:checked ~ .box.alizarin,
  .checkbox-wisteria:checked ~ .box.wisteria,
  .checkbox-emerland:checked ~ .box.emerland,
  .checkbox-belizehole:checked ~ .box.belizehole {
    min-width: calc(100% - 20px);
  }
}


// ============================== LIST-ITEMS ====================================
// .elements-list__wrapper {
//     // margin: -10px;
// }
.elements-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-rows: auto;
    align-items: center;
    grid-gap: 40px;
    // counter-reset: stepnr;
}
.elements-list__item {
    position: relative;
    // padding: 10px;
}

.circle {
    z-index: 0;
    filter: contrast(0.6) brightness(1); 
    // filter: contrast(0.7) brightness(0.6);

      &::before {
        --beforeOffset: var(--padding-set);
        content: '';
        top: var(--beforeOffset);
        left: var(--beforeOffset);
        right: var(--beforeOffset);
        bottom: var(--beforeOffset);
        position: absolute;
        width: 100%;
        border-radius: 30px;
        border: var(--border) solid hsl(43, 100%, 50%);
        z-index: 0;
    }

    &::after {
        --outOfBorderRange: calc(var(--border) + 3px);
        --afterOffset: calc(var(--padding-set) - var(--outOfBorderRange));
        content: '';
        top: var(--afterOffset);
        left: var(--afterOffset);
        right: var(--afterOffset);
        bottom: var(--afterOffset);
        position: absolute;
        border-radius: 30px;
        border: (calc(var(--outOfBorderRange)*3 + var(--border))) solid rgba(255, 232, 198, 0.6);
        z-index: 0;
        filter: blur(calc(var(--border) * 1.5));
    }

    .noise {
        mix-blend-mode: multiply;
        z-index: 1;
        position: relative;
        width: var(--circle-radius);
        height: var(--circle-radius);

       &::backdrop {
           background-color: aqua;
       }
    }
}
.animated {
    animation: 500ms bgPos ease-in-out infinite alternate;
}
@keyframes bgPos {
    from {
        background-position: 0% 0%;
        background-size: 0%;
    }
    to {
        background-position: 212px 212px;
        background-size: 100%;
    }
}

.elements-button {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100%;
    // height: 100%;
    padding: 25px 50px;
    border: 2px solid var(--second-color-gray);
    // box-shadow: -5px 4px 14px -1px #ebb219, -10px 8px 29px 0px #f8e237;
    // box-shadow: var(--chakra-shadows-md);
    border-radius: 30px;
    // color: var(--current-color);
    font-size: 36px;
    font-weight: 600;
    // transform: translateX(50%) translateY(50%);
    background-color: var(--button-background); // <-- BUTTON COLOR
}


// .noise {
   
// }


// .button-text {
// }
// .filter-list {
//     width: min(60rem, 100%);
//     margin-inline: auto;

//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     gap: 2rem;

//     list-style: none;
//     counter-reset: stepnr;
// }

// .filter-list .filter-list__item {
//     counter-increment: stepnr;
//     width: 12rem;
//     --borderS: 2rem;
//     aspect-ratio: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     padding-left: calc(var(--borderS) + 2rem);
//     position: relative;
// }
// .filter-list .filter-list__item::before,
// .filter-list .filter-list__item::after {
//     inset: 0;
//     position: absolute;
//     z-index: 0;
//     border-radius: 50%;
//     border: var(--borderS) solid var(--bgColor);
//     line-height: 1.1;
// }
// .filter-list .filter-list__item::before {
//     content: counter(stepnr);
//     color: var(--accent-color);
//     padding-left: 4rem;
//     font-size: 5rem;
//     font-weight: 5600;
//     overflow: hidden;
// }
// .filter-list .filter-list__item::after {
//     content: '';
//     filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
// }
// .filter-list .filter-list__item > * {
//     width: 7.5rem;
// }
// .filter-list .filter-list__item .filter-icon {
//     font-size: 2rem;
//     color: var(--accent-color);
//     text-align: center;
// }
// .filter-list .filter-list__item .filter-title {
//     font-size: 2rem;
//     font-weight: 500;
// }
// .filter-list .filter-list__item .filter-descr {
//     font-size: 0.8rem;
//     font-weight: 300;
// }
