.main-wrapper {
    float: right;
    max-width: 100%;
    position: relative;
    max-height: 100%;
    width: 100%;
    overflow: auto;
    transition: top 0.2s linear 0s, bottom 0.2s linear, width 0.35s ease;
}
.main-wrapp-area {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
}

.main-content-area {
    padding: 22px 30px 22px 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: rgb(0 0 0 / 5%) 0px 5px 14px;
    border-radius: 20px;
    position: relative;
    overflow-wrap: break-word;
    background: var(--chakra-colors-white);
}
.main-content-title {
    align-self: start;
    padding: 0px 0px 20px 10px;
}

.filter_inputs--wrapper {
    padding: 0px 70px 20px 70px;
}
.filter_inputs--list {
    display: flex;
    justify-content: space-evenly;
}
.filter_inputs--item {
}

.filter_input--placeholder {
    &::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        border: 1px solid;
        border-radius: 5px;
    }
}

.filter_list--wrapper {
    padding: 10px;
}

.filter_list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 30px;
}
.filter_list--item {
}
.filter_list--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20%;
}
