/* Lightbox */
.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--property-common) 250ms var(--ease-in-out);
}
.modal-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    z-index: 5;
    transition: var(--property-common) 250ms var(--ease-in-out);
    & .modal-window {
        transform: scale(1.2);
        // transform: translate(-50%, -50%);
    }
}
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    // z-index: 5;
}
.modal-window {
    margin-left: auto;
    margin-right: auto;
    position: relative;

    width: 60%;
    max-width: 100%;
    padding: 40px;
    
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: scale(0);
    transition: var(--property-common) 250ms var(--ease-in-out);
}

.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 40px;
    width: 30px;
    height: 30px;
    padding: 0;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--property-colors) 250ms var(--ease-in-out);

    &:hover,
    &:focus {
        color: var(--chakra-colors-orange-500);
        border-color: var(--chakra-colors-gray-200);
        outline: none;
    }
}

.modal-button__icon {
    fill: currentColor;
}
