:root {
    --current-color: rgb(236 201 75);
    --second-color: rgb(214 158 46);
    --third-color: rgb(246 224 94);

    --color-gray: rgb(160 174 192);
    --second-color-gray: rgb(113 128 150);
    --third-color-gray: rgb(74 85 104);

    --chakra-ring-inset: var(--chakra-empty);
    --chakra-ring-offset-width: 0px;
    --chakra-ring-offset-color: rgb(255 255 255);
    --chakra-ring-color: rgb(66 153 225 / 60%);
    --chakra-ring-offset-shadow: 0 0 rgb(0 0 0 / 0%);
    --chakra-ring-shadow: 0 0 rgb(0 0 0 / 0%);
    --chakra-space-x-reverse: 0;
    --chakra-space-y-reverse: 0;
    --chakra-colors-transparent: rgb(0 0 0 / 0%);
    --chakra-colors-current: currentColor;
    --chakra-colors-black: rgb(0 0 0);
    --chakra-colors-white: rgb(255 255 255);
    --chakra-colors-whiteAlpha-50: rgb(255 255 255 / 4%);
    --chakra-colors-whiteAlpha-100: rgb(255 255 255 / 6%);
    --chakra-colors-whiteAlpha-200: rgb(255 255 255 / 8%);
    --chakra-colors-whiteAlpha-300: rgb(255 255 255 / 16%);
    --chakra-colors-whiteAlpha-400: rgb(255 255 255 / 24%);
    --chakra-colors-whiteAlpha-500: rgb(255 255 255 / 36%);
    --chakra-colors-whiteAlpha-600: rgb(255 255 255 / 48%);
    --chakra-colors-whiteAlpha-700: rgb(255 255 255 / 64%);
    --chakra-colors-whiteAlpha-800: rgb(255 255 255 / 80%);
    --chakra-colors-whiteAlpha-900: rgb(255 255 255 / 92%);
    --chakra-colors-blackAlpha-50: rgb(0 0 0 / 4%);
    --chakra-colors-blackAlpha-100: rgb(0 0 0 / 6%);
    --chakra-colors-blackAlpha-200: rgb(0 0 0 / 8%);
    --chakra-colors-blackAlpha-300: rgb(0 0 0 / 16%);
    --chakra-colors-blackAlpha-400: rgb(0 0 0 / 24%);
    --chakra-colors-blackAlpha-500: rgb(0 0 0 / 36%);
    --chakra-colors-blackAlpha-600: rgb(0 0 0 / 48%);
    --chakra-colors-blackAlpha-700: rgb(0 0 0 / 64%);
    --chakra-colors-blackAlpha-800: rgb(0 0 0 / 80%);
    --chakra-colors-blackAlpha-900: rgb(0 0 0 / 92%);
    --chakra-colors-gray-50: rgb(247 250 252);
    --chakra-colors-gray-100: rgb(237 242 247);
    --chakra-colors-gray-200: rgb(226 232 240);
    --chakra-colors-gray-300: rgb(203 213 224);
    --chakra-colors-gray-400: rgb(160 174 192);
    --chakra-colors-gray-500: rgb(113 128 150);
    --chakra-colors-gray-600: rgb(74 85 104);
    --chakra-colors-gray-700: rgb(31 39 51);
    --chakra-colors-gray-800: rgb(26 32 44);
    --chakra-colors-gray-900: rgb(23 25 35);
    --chakra-colors-red-50: rgb(255 245 245);
    --chakra-colors-red-100: rgb(254 215 215);
    --chakra-colors-red-200: rgb(254 178 178);
    --chakra-colors-red-300: rgb(252 129 129);
    --chakra-colors-red-400: rgb(245 101 101);
    --chakra-colors-red-500: rgb(229 62 62);
    --chakra-colors-red-600: rgb(197 48 48);
    --chakra-colors-red-700: rgb(155 44 44);
    --chakra-colors-red-800: rgb(130 39 39);
    --chakra-colors-red-900: rgb(99 23 27);
    --chakra-colors-orange-50: rgb(255 250 240);
    --chakra-colors-orange-100: rgb(254 235 200);
    --chakra-colors-orange-200: rgb(251 211 141);
    --chakra-colors-orange-300: rgb(246 173 85);
    --chakra-colors-orange-400: rgb(237 137 54);
    --chakra-colors-orange-500: rgb(221 107 32);
    --chakra-colors-orange-600: rgb(192 86 33);
    --chakra-colors-orange-700: rgb(156 66 33);
    --chakra-colors-orange-800: rgb(123 52 30);
    --chakra-colors-orange-900: rgb(101 43 25);
    --chakra-colors-yellow-50: rgb(255 255 240);
    --chakra-colors-yellow-100: rgb(254 252 191);
    --chakra-colors-yellow-200: rgb(250 240 137);
    --chakra-colors-yellow-300: rgb(246 224 94);
    --chakra-colors-yellow-400: rgb(236 201 75);
    --chakra-colors-yellow-500: rgb(214 158 46);
    --chakra-colors-yellow-600: rgb(183 121 31);
    --chakra-colors-yellow-700: rgb(151 90 22);
    --chakra-colors-yellow-800: rgb(116 66 16);
    --chakra-colors-yellow-900: rgb(95 55 14);
    --chakra-colors-green-50: rgb(240 255 244);
    --chakra-colors-green-100: rgb(198 246 213);
    --chakra-colors-green-200: rgb(154 230 180);
    --chakra-colors-green-300: rgb(104 211 145);
    --chakra-colors-green-400: rgb(72 187 120);
    --chakra-colors-green-500: rgb(56 161 105);
    --chakra-colors-green-600: rgb(47 133 90);
    --chakra-colors-green-700: rgb(39 103 73);
    --chakra-colors-green-800: rgb(34 84 61);
    --chakra-colors-green-900: rgb(28 69 50);
    --chakra-colors-teal-50: rgb(230 255 250);
    --chakra-colors-teal-100: rgb(178 245 234);
    --chakra-colors-teal-200: rgb(129 230 217);
    --chakra-colors-teal-300: rgb(79 209 197);
    --chakra-colors-teal-400: rgb(56 178 172);
    --chakra-colors-teal-500: rgb(49 151 149);
    --chakra-colors-teal-600: rgb(44 122 123);
    --chakra-colors-teal-700: rgb(40 94 97);
    --chakra-colors-teal-800: rgb(35 78 82);
    --chakra-colors-teal-900: rgb(29 64 68);
    --chakra-colors-blue-50: rgb(235 248 255);
    --chakra-colors-blue-100: rgb(190 227 248);
    --chakra-colors-blue-200: rgb(144 205 244);
    --chakra-colors-blue-300: rgb(99 179 237);
    --chakra-colors-blue-400: rgb(66 153 225);
    --chakra-colors-blue-500: rgb(49 130 206);
    --chakra-colors-blue-600: rgb(43 108 176);
    --chakra-colors-blue-700: rgb(44 82 130);
    --chakra-colors-blue-800: rgb(42 67 101);
    --chakra-colors-blue-900: rgb(26 54 93);
    --chakra-colors-cyan-50: rgb(237 253 253);
    --chakra-colors-cyan-100: rgb(196 241 249);
    --chakra-colors-cyan-200: rgb(157 236 249);
    --chakra-colors-cyan-300: rgb(118 228 247);
    --chakra-colors-cyan-400: rgb(11 197 234);
    --chakra-colors-cyan-500: rgb(0 181 216);
    --chakra-colors-cyan-600: rgb(0 163 196);
    --chakra-colors-cyan-700: rgb(9 135 160);
    --chakra-colors-cyan-800: rgb(8 111 131);
    --chakra-colors-cyan-900: rgb(6 86 102);
    --chakra-colors-purple-50: rgb(250 245 255);
    --chakra-colors-purple-100: rgb(233 216 253);
    --chakra-colors-purple-200: rgb(214 188 250);
    --chakra-colors-purple-300: rgb(183 148 244);
    --chakra-colors-purple-400: rgb(159 122 234);
    --chakra-colors-purple-500: rgb(128 90 213);
    --chakra-colors-purple-600: rgb(107 70 193);
    --chakra-colors-purple-700: rgb(85 60 154);
    --chakra-colors-purple-800: rgb(68 51 122);
    --chakra-colors-purple-900: rgb(50 38 89);
    --chakra-colors-pink-50: rgb(255 245 247);
    --chakra-colors-pink-100: rgb(254 215 226);
    --chakra-colors-pink-200: rgb(251 182 206);
    --chakra-colors-pink-300: rgb(246 135 179);
    --chakra-colors-pink-400: rgb(237 100 166);
    --chakra-colors-pink-500: rgb(213 63 140);
    --chakra-colors-pink-600: rgb(184 50 128);
    --chakra-colors-pink-700: rgb(151 38 109);
    --chakra-colors-pink-800: rgb(112 36 89);
    --chakra-colors-pink-900: rgb(82 27 65);
    --chakra-colors-linkedin-50: rgb(232 244 249);
    --chakra-colors-linkedin-100: rgb(207 237 251);
    --chakra-colors-linkedin-200: rgb(155 218 243);
    --chakra-colors-linkedin-300: rgb(104 199 236);
    --chakra-colors-linkedin-400: rgb(52 179 228);
    --chakra-colors-linkedin-500: rgb(0 160 220);
    --chakra-colors-linkedin-600: rgb(0 140 201);
    --chakra-colors-linkedin-700: rgb(0 119 181);
    --chakra-colors-linkedin-800: rgb(0 94 147);
    --chakra-colors-linkedin-900: rgb(0 68 113);
    --chakra-colors-facebook-50: rgb(232 244 249);
    --chakra-colors-facebook-100: rgb(217 222 233);
    --chakra-colors-facebook-200: rgb(183 194 218);
    --chakra-colors-facebook-300: rgb(100 130 192);
    --chakra-colors-facebook-400: rgb(66 103 178);
    --chakra-colors-facebook-500: rgb(56 88 152);
    --chakra-colors-facebook-600: rgb(49 78 137);
    --chakra-colors-facebook-700: rgb(41 72 125);
    --chakra-colors-facebook-800: rgb(34 59 103);
    --chakra-colors-facebook-900: rgb(30 53 91);
    --chakra-colors-messenger-50: rgb(208 230 255);
    --chakra-colors-messenger-100: rgb(185 218 255);
    --chakra-colors-messenger-200: rgb(162 205 255);
    --chakra-colors-messenger-300: rgb(122 184 255);
    --chakra-colors-messenger-400: rgb(46 144 255);
    --chakra-colors-messenger-500: rgb(0 120 255);
    --chakra-colors-messenger-600: rgb(0 99 209);
    --chakra-colors-messenger-700: rgb(0 82 172);
    --chakra-colors-messenger-800: rgb(0 60 126);
    --chakra-colors-messenger-900: rgb(0 44 92);
    --chakra-colors-whatsapp-50: rgb(223 254 236);
    --chakra-colors-whatsapp-100: rgb(185 245 208);
    --chakra-colors-whatsapp-200: rgb(144 237 179);
    --chakra-colors-whatsapp-300: rgb(101 228 149);
    --chakra-colors-whatsapp-400: rgb(60 221 120);
    --chakra-colors-whatsapp-500: rgb(34 195 94);
    --chakra-colors-whatsapp-600: rgb(23 152 72);
    --chakra-colors-whatsapp-700: rgb(12 108 51);
    --chakra-colors-whatsapp-800: rgb(1 66 28);
    --chakra-colors-whatsapp-900: rgb(0 24 3);
    --chakra-colors-twitter-50: rgb(229 244 253);
    --chakra-colors-twitter-100: rgb(200 233 251);
    --chakra-colors-twitter-200: rgb(168 220 250);
    --chakra-colors-twitter-300: rgb(131 205 247);
    --chakra-colors-twitter-400: rgb(87 187 245);
    --chakra-colors-twitter-500: rgb(29 161 242);
    --chakra-colors-twitter-600: rgb(26 148 218);
    --chakra-colors-twitter-700: rgb(22 129 191);
    --chakra-colors-twitter-800: rgb(19 107 158);
    --chakra-colors-twitter-900: rgb(13 77 113);
    --chakra-colors-telegram-50: rgb(227 242 249);
    --chakra-colors-telegram-100: rgb(197 228 243);
    --chakra-colors-telegram-200: rgb(162 212 236);
    --chakra-colors-telegram-300: rgb(122 193 228);
    --chakra-colors-telegram-400: rgb(71 169 218);
    --chakra-colors-telegram-500: rgb(0 136 204);
    --chakra-colors-telegram-600: rgb(0 122 184);
    --chakra-colors-telegram-700: rgb(0 107 161);
    --chakra-colors-telegram-800: rgb(0 88 133);
    --chakra-colors-telegram-900: rgb(0 63 94);
    --chakra-colors-navy-50: rgb(208 220 251);
    --chakra-colors-navy-100: rgb(170 192 254);
    --chakra-colors-navy-200: rgb(163 185 248);
    --chakra-colors-navy-300: rgb(114 143 234);
    --chakra-colors-navy-400: rgb(54 82 186);
    --chakra-colors-navy-500: rgb(27 59 187);
    --chakra-colors-navy-600: rgb(36 56 138);
    --chakra-colors-navy-700: rgb(27 37 75);
    --chakra-colors-navy-800: rgb(17 28 68);
    --chakra-colors-navy-900: rgb(11 20 55);
    --chakra-borders-none: 0;
    --chakra-borders-1px: 1px solid;
    --chakra-borders-2px: 2px solid;
    --chakra-borders-4px: 4px solid;
    --chakra-borders-8px: 8px solid;
    --chakra-fonts-heading: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --chakra-fonts-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --chakra-fonts-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
    --chakra-fontSizes-xs: 0.75rem;
    --chakra-fontSizes-sm: 0.875rem;
    --chakra-fontSizes-md: 1rem;
    --chakra-fontSizes-lg: 1.125rem;
    --chakra-fontSizes-xl: 1.25rem;
    --chakra-fontSizes-2xl: 1.5rem;
    --chakra-fontSizes-3xl: 1.875rem;
    --chakra-fontSizes-4xl: 2.25rem;
    --chakra-fontSizes-5xl: 3rem;
    --chakra-fontSizes-6xl: 3.75rem;
    --chakra-fontSizes-7xl: 4.5rem;
    --chakra-fontSizes-8xl: 6rem;
    --chakra-fontSizes-9xl: 8rem;
    --chakra-fontWeights-hairline: 100;
    --chakra-fontWeights-thin: 200;
    --chakra-fontWeights-light: 300;
    --chakra-fontWeights-normal: 400;
    --chakra-fontWeights-medium: 500;
    --chakra-fontWeights-semibold: 600;
    --chakra-fontWeights-bold: 700;
    --chakra-fontWeights-extrabold: 800;
    --chakra-fontWeights-black: 900;
    --chakra-letterSpacings-tighter: -0.05em;
    --chakra-letterSpacings-tight: -0.025em;
    --chakra-letterSpacings-normal: 0;
    --chakra-letterSpacings-wide: 0.025em;
    --chakra-letterSpacings-wider: 0.05em;
    --chakra-letterSpacings-widest: 0.1em;
    --chakra-lineHeights-3: 0.75rem;
    --chakra-lineHeights-4: 1rem;
    --chakra-lineHeights-5: 1.25rem;
    --chakra-lineHeights-6: 1.5rem;
    --chakra-lineHeights-7: 1.75rem;
    --chakra-lineHeights-8: 2rem;
    --chakra-lineHeights-9: 2.25rem;
    --chakra-lineHeights-10: 2.5rem;
    --chakra-lineHeights-normal: normal;
    --chakra-lineHeights-none: 1;
    --chakra-lineHeights-shorter: 1.25;
    --chakra-lineHeights-short: 1.375;
    --chakra-lineHeights-base: 1.5;
    --chakra-lineHeights-tall: 1.625;
    --chakra-lineHeights-taller: 2;
    --chakra-radii-none: 0;
    --chakra-radii-sm: 0.125rem;
    --chakra-radii-base: 0.25rem;
    --chakra-radii-md: 0.375rem;
    --chakra-radii-lg: 0.5rem;
    --chakra-radii-xl: 0.75rem;
    --chakra-radii-2xl: 1rem;
    --chakra-radii-3xl: 1.5rem;
    --chakra-radii-full: 9999px;
    --chakra-space-1: 0.25rem;
    --chakra-space-2: 0.5rem;
    --chakra-space-3: 0.75rem;
    --chakra-space-4: 1rem;
    --chakra-space-5: 1.25rem;
    --chakra-space-6: 1.5rem;
    --chakra-space-7: 1.75rem;
    --chakra-space-8: 2rem;
    --chakra-space-9: 2.25rem;
    --chakra-space-10: 2.5rem;
    --chakra-space-12: 3rem;
    --chakra-space-14: 3.5rem;
    --chakra-space-16: 4rem;
    --chakra-space-20: 5rem;
    --chakra-space-24: 6rem;
    --chakra-space-28: 7rem;
    --chakra-space-32: 8rem;
    --chakra-space-36: 9rem;
    --chakra-space-40: 10rem;
    --chakra-space-44: 11rem;
    --chakra-space-48: 12rem;
    --chakra-space-52: 13rem;
    --chakra-space-56: 14rem;
    --chakra-space-60: 15rem;
    --chakra-space-64: 16rem;
    --chakra-space-72: 18rem;
    --chakra-space-80: 20rem;
    --chakra-space-96: 24rem;
    --chakra-space-px: 1px;
    --chakra-space-0\.5: 0.125rem;
    --chakra-space-1\.5: 0.375rem;
    --chakra-space-2\.5: 0.625rem;
    --chakra-space-3\.5: 0.875rem;
    --chakra-shadows-xs: 0 0 0 1px rgb(0 0 0 / 5%);
    --chakra-shadows-sm: 0 1px 2px 0 rgb(0 0 0 / 5%);
    --chakra-shadows-base: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    --chakra-shadows-md: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    --chakra-shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    --chakra-shadows-xl: 0 20px 25px -5px rgb(0 0 0 / 10%),
        0 10px 10px -5px rgb(0 0 0 / 4%);
    --chakra-shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 25%);
    --chakra-shadows-outline: 0 0 0 3px rgb(66 153 225 / 60%);
    --chakra-shadows-inner: inset 0 2px 4px 0 rgb(0 0 0 / 6%);
    --chakra-shadows-none: none;
    --chakra-shadows-dark-lg: rgb(0 0 0 / 10%) 0px 0px 0px 1px,
        rgb(0 0 0 / 20%) 0px 5px 10px, rgb(0 0 0 / 40%) 0px 15px 40px;
    --chakra-sizes-1: 0.25rem;
    --chakra-sizes-2: 0.5rem;
    --chakra-sizes-3: 0.75rem;
    --chakra-sizes-4: 1rem;
    --chakra-sizes-5: 1.25rem;
    --chakra-sizes-6: 1.5rem;
    --chakra-sizes-7: 1.75rem;
    --chakra-sizes-8: 2rem;
    --chakra-sizes-9: 2.25rem;
    --chakra-sizes-10: 2.5rem;
    --chakra-sizes-12: 3rem;
    --chakra-sizes-14: 3.5rem;
    --chakra-sizes-16: 4rem;
    --chakra-sizes-20: 5rem;
    --chakra-sizes-24: 6rem;
    --chakra-sizes-28: 7rem;
    --chakra-sizes-32: 8rem;
    --chakra-sizes-36: 9rem;
    --chakra-sizes-40: 10rem;
    --chakra-sizes-44: 11rem;
    --chakra-sizes-48: 12rem;
    --chakra-sizes-52: 13rem;
    --chakra-sizes-56: 14rem;
    --chakra-sizes-60: 15rem;
    --chakra-sizes-64: 16rem;
    --chakra-sizes-72: 18rem;
    --chakra-sizes-80: 20rem;
    --chakra-sizes-96: 24rem;
    --chakra-sizes-px: 1px;
    --chakra-sizes-0\.5: 0.125rem;
    --chakra-sizes-1\.5: 0.375rem;
    --chakra-sizes-2\.5: 0.625rem;
    --chakra-sizes-3\.5: 0.875rem;
    --chakra-sizes-max: max-content;
    --chakra-sizes-min: min-content;
    --chakra-sizes-full: 100%;
    --chakra-sizes-3xs: 14rem;
    --chakra-sizes-2xs: 16rem;
    --chakra-sizes-xs: 20rem;
    --chakra-sizes-sm: 24rem;
    --chakra-sizes-md: 28rem;
    --chakra-sizes-lg: 32rem;
    --chakra-sizes-xl: 36rem;
    --chakra-sizes-2xl: 42rem;
    --chakra-sizes-3xl: 48rem;
    --chakra-sizes-4xl: 56rem;
    --chakra-sizes-5xl: 64rem;
    --chakra-sizes-6xl: 72rem;
    --chakra-sizes-7xl: 80rem;
    --chakra-sizes-8xl: 90rem;
    --chakra-sizes-container-sm: 640px;
    --chakra-sizes-container-md: 768px;
    --chakra-sizes-container-lg: 1024px;
    --chakra-sizes-container-xl: 1280px;
    --chakra-zIndices-hide: -1;
    --chakra-zIndices-auto: auto;
    --chakra-zIndices-base: 0;
    --chakra-zIndices-docked: 10;
    --chakra-zIndices-dropdown: 1000;
    --chakra-zIndices-sticky: 1100;
    --chakra-zIndices-banner: 1200;
    --chakra-zIndices-overlay: 1300;
    --chakra-zIndices-modal: 1400;
    --chakra-zIndices-popover: 1500;
    --chakra-zIndices-skipLink: 1600;
    --chakra-zIndices-toast: 1700;
    --chakra-zIndices-tooltip: 1800;
    --chakra-transition-property-common: background-color, border-color, color, fill,
        stroke, opacity, box-shadow, transform;
    --chakra-transition-property-colors: background-color, border-color, color, fill,
        stroke;
    --chakra-transition-property-dimensions: width, height;
    --chakra-transition-property-position: left, right, top, bottom;
    --chakra-transition-property-background: background-color, background-image,
        background-position;
    --chakra-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --chakra-transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --chakra-transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --chakra-transition-duration-ultra-fast: 50ms;
    --chakra-transition-duration-faster: 100ms;
    --chakra-transition-duration-fast: 150ms;
    --chakra-transition-duration-normal: 200ms;
    --chakra-transition-duration-slow: 300ms;
    --chakra-transition-duration-slower: 400ms;
    --chakra-transition-duration-ultra-slow: 500ms;
    --chakra-blur-none: 0;
    --chakra-blur-sm: 4px;
    --chakra-blur-base: 8px;
    --chakra-blur-md: 12px;
    --chakra-blur-lg: 16px;
    --chakra-blur-xl: 24px;
    --chakra-blur-2xl: 40px;
    --chakra-blur-3xl: 64px;
}
