
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Zen+Maru+Gothic:wght@400;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    border-color: var(--chakra-colors-gray-200);
    border-style: solid;
    border-width: 0px;
    overflow-wrap: break-word;
}
input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Bai Jamjuree', sans-serif;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
figure {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
html {
    display: block;
    line-height: 1.5;
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    touch-action: manipulation;
}
body {
    position: relative;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Zen Maru Gothic', sans-serif;
    // font-family: 'Josefin Sans', sans-serif;  // ---+++
    transition-duration: var(--duration-normal);
    transition-property: var(--property-common);
    transition-timing-function: var(--easing-out);
    overflow-x: hidden;


    &.light {
        --text: var(--orange-500);
        --text-inverse: var(--color2);
        --background: var(--white);
        --background-inverse: var(--black);
        // --carousel-background: var(--light-gray);
        --gradient: radial-gradient(circle, rgba(45, 51, 173, 0.66) 2%, rgba(17, 131, 124, 0.7) 29%, rgba(48, 195, 189, 0.78) 69%, rgba(217, 236, 233, 0.85) 92%, rgba(242, 242, 240, 0.8) 100%);
        --box-shadow: var(--shadow-light-theme);
        --button-background: var(--light-blue);

        & .head {
            --background: var(--primary-light-bgColor);
        }
        & .main-content-area {
            --background: var(--white);
        }
    }

    &.dark {
        --text: var(--color2);
        --text-inverse: var(--orange-500);
        --background: var(--black);
        --background-inverse: var(--white);
        // --carousel-background: var(--dark-blue);
        // background: rgb(22, 24, 70);
        --gradient: radial-gradient(circle, rgba(54, 61, 219, 0.3) 2%, rgba(17, 131, 123, 0.60) 29%, rgba(55, 189, 180, 0.78) 69%, rgba(57, 65, 64, 0.85) 92%, rgba(27, 27, 27, 0.8) 100%);
        --box-shadow: var(--shadow-dark-theme);
        --button-background: var(--third-color-gray);

        & .head {
            --background: var(--primary-dark-bgColor);
        }
        & .main-content-area {
            --background: var(--black);
        }
    }
    color: var(--text);
    // background: var(--fourth-color-gray);
    background-image: var(--gradient);
    background-position: center;
    background-size: cover;
    box-shadow: var(--shadow);
    transition: all 300ms var(--easing-out);
}

@media (prefers-color-scheme: dark) {
    button {
        // background: var(--black);
        color:var(--text)
    }
    svg {
        color: var(--text);
        fill: var(--text);
    }
    .theme-toggle {
        background: var(--color9);
    }
}

.list {
    list-style: none;
}

.link {
    color: var(--text);
    text-decoration: none;
}

// .active {
//     color: var(--chakra-colors-black);
//     outline: rgb(0 0 0 / 0%) solid 2px;
//     outline-offset: 2px;
//     box-shadow: rgb(0 0 0 / 4%) 0px 7px 11px;
// }
